<footer
  class="flex flex-col lg:flex-row gap-4 px-4 py-10 lg:px-[150px] lg:py-20 justify-between border-t border-neutral-300"
>
  <div class="flex flex-col gap-4 lg:max-w-[380px] lg:gap-10">
    <div class="flex flex-col gap-[22px]">
      <img
        src="/src/public/images/desktop-logo.svg"
        alt="logo"
        class="max-w-40"
      />
      <p
        class="font-normal text-sm leading-sm text-neutral-950 lg:text-md lg:leading-md"
      >
        Explore a realm of style with our fashion e-commerce platform, where
        shopping is effortless. Experience a smooth journey with an extensive
        selection of trendy apparel, all delivered directly to your home.
      </p>
    </div>
    <div class="flex flex-col gap-5">
      <h4 class="font-bold text-sm leading-sm lg:text-md lg:leading-md">
        Follow on Social Media
      </h4>
      <div id="social-logo" class="social-logo flex gap-3"></div>
    </div>
  </div>

  <div id="e-commerce-section" class="flex flex-col gap-4"></div>
  <div id="help-section" class="flex flex-col gap-4"></div>
  <script src="/src/js/footer.js"></script>
</footer>
