<header
  class="min-h-18 lg:h-[84px] flex px-4 gap-4 items-center w-full lg:px-[120px] lg:gap-20"
>
  <img
    id="logo"
    src="./public/images/mobile-logo.svg"
    alt="logo"
    class="logo flex-none w-8 h-8 lg:min-h-[42px] lg:min-w-40"
  />

  <div class="flex gap-[6px] lg:gap-3 grow">
    <button
      class="border border-neutral-300 rounded-xl p-2 flex items-center justify-center lg:px-4 lg:gap-[6px] font-normal text-sm leading-sm"
    >
      <img src="./public/icons/catalog.svg" alt="catalog-logo" />
      <span class="hidden lg:block">Catalog</span>
    </button>

    <div class="relative w-full">
      <span
        class="absolute inset-y-0 left-0 flex items-center pl-3 lg:px-4 lg:py-2"
      >
        <img
          src="./public/icons/search.svg"
          alt="search-icon"
          class="h-4 w-4 text-gray-400"
        />
      </span>

      <input
        id="search"
        type="text"
        placeholder="Search"
        class="border border-neutral-300 rounded-xl py-2 pl-10 pr-2 w-full max-w-full lg:h-full"
      />
    </div>
  </div>

  <div
    class="flex gap-3 flex-none lg:w-[257px] lg:justify-between items-center"
  >
    <div class="relative">
      <!-- Cart Icon -->
      <img src="./public/icons/cart.svg" alt="cart-icon" class="h-6 w-6" />
      <!-- Badge -->
      <span
        class="absolute -top-2 -right-2 flex h-5 w-5 items-center justify-center rounded-full bg-[#EE1D52] text-white text-xs"
      >
        1
      </span>
    </div>

    <button
      class="hidden border border-neutral-300 rounded-xl lg:flex px-4 gap-[6px] min-w-[200px] min-h-[44px] items-center"
    >
      <img src="./public/icons/user.svg" alt="" />
      <span>Jhon Doe</span>
    </button>

    <!-- Hamburger Icon -->
    <img
      src="./public/icons/hamburger.svg"
      alt="hamburger-icon"
      class="h-6 w-6 lg:hidden"
    />
  </div>

  <script src="./js/header.js"></script>
</header>
